In [1]:
import os
import sys

app_path = os.getcwd().rsplit(os.sep, 1)[0]

"""Add app path to sys.path for importing parent directory modules"""
if app_path not in sys.path:
    sys.path.insert(0, app_path)

# Note: Do NOT delete this cell

In [0]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
import nltk
nltk.download()
from string import punctuation
from nltk.stem.porter import *

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> d

Download which package (l=list; x=cancel)?
  Identifier> nltk
    Error loading nltk: Package 'nltk' not found in index

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> d

Download which package (l=list; x=cancel)?
  Identifier> l
Packages:
  [ ] abc................. Australian Broadcasting Commission 2006
  [ ] alpino.............. Alpino Dutch Treebank
  [ ] averaged_perceptron_tagger Averaged Perceptron Tagger
  [ ] averaged_perceptron_tagger_ru Averaged Perceptron Tagger (Russian)
  [ ] basque_grammars..... Grammars for Basque
  [ ] biocreative_ppi..... BioCreAtIvE (Critical Assessment of Information
                           Extraction Systems in Biology)
  [ ] bllip_wsj_no_aux.... BLLIP Parser: WSJ Model
  [ ] book_grammars....... Grammars from NLTK Book
  [ ] brown............... Brown Corpus
  [ ] brown_tei........... Brown Corpus (TEI XML Version)
  [ ] cess_cat............ CESS-CAT Treebank
  [ ] cess_esp............ CESS-ESP Treebank
  [ ] chat80.............. Chat-80 Data Files
  [ ] city_database....... City Database
  [ ] cmudict............. The Carnegie Mellon Pronouncing Dictionary (0.6)
  [ ] comparative_sentences Comparative Sentence Dataset
  [ ] comtrans............ ComTrans Corpus Sample
  [ ] conll2000........... CONLL 2000 Chunking Corpus
  [ ] conll2002........... CONLL 2002 Named Entity Recognition Corpus

In [0]:
train = pd.read_csv("/content/train.csv")
test = pd.read_csv("/content/test.csv")

In [33]:
train.head()

   tweet_id                                              tweet  sentiment
0      1701  #sxswnui #sxsw #apple defining language of tou...          1
1      1851  Learning ab Google doodles! All doodles should...          1
2      2689  one of the most in-your-face ex. of stealing t...          2
3      4525  This iPhone #SXSW app would b pretty awesome i...          0
4      3604  Line outside the Apple store in Austin waiting...          1

In [0]:
# Importing HTMLParser
from html.parser import HTMLParser
html_parser = HTMLParser()

In [34]:
train["tweet"]= train["tweet"].astype(str)
train.head()

   tweet_id                                              tweet  sentiment
0      1701  #sxswnui #sxsw #apple defining language of tou...          1
1      1851  Learning ab Google doodles! All doodles should...          1
2      2689  one of the most in-your-face ex. of stealing t...          2
3      4525  This iPhone #SXSW app would b pretty awesome i...          0
4      3604  Line outside the Apple store in Austin waiting...          1

In [36]:
# Created a new columns i.e. clean_tweet contains the same tweets but cleaned version
train['clean_tweet'] = train['tweet'].apply(lambda x: html_parser.unescape(x))
train.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The unescape method is deprecated and will be removed in 3.5, use html.unescape() instead.

   tweet_id  ...                                        clean_tweet
0      1701  ...  #sxswnui #sxsw #apple defining language of tou...
1      1851  ...  Learning ab Google doodles! All doodles should...
2      2689  ...  one of the most in-your-face ex. of stealing t...
3      4525  ...  This iPhone #SXSW app would b pretty awesome i...
4      3604  ...  Line outside the Apple store in Austin waiting...
5       966  ...  #technews One lone dude awaits iPad 2 at Apple...
6      1395  ...  SXSW Tips, Prince, NPR Videos, Toy Shopping Wi...
7      8182  ...  NU user RT @mention New #UberSocial for #iPhon...
8      8835  ...     Free #SXSW sampler on iTunes {link} #FreeMusic
9       883  ...  I think I might go all weekend without seeing ...

[10 rows x 4 columns]

In [0]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt

In [38]:
# remove twitter handles (@user)
train['clean_tweet'] = np.vectorize(remove_pattern)(train['tweet'], "@[\w]*")
train.head(10)

   tweet_id  ...                                        clean_tweet
0      1701  ...  #sxswnui #sxsw #apple defining language of tou...
1      1851  ...  Learning ab Google doodles! All doodles should...
2      2689  ...  one of the most in-your-face ex. of stealing t...
3      4525  ...  This iPhone #SXSW app would b pretty awesome i...
4      3604  ...  Line outside the Apple store in Austin waiting...
5       966  ...  #technews One lone dude awaits iPad 2 at Apple...
6      1395  ...  SXSW Tips, Prince, NPR Videos, Toy Shopping Wi...
7      8182  ...  NU user RT  New #UberSocial for #iPhone now in...
8      8835  ...     Free #SXSW sampler on iTunes {link} #FreeMusic
9       883  ...  I think I might go all weekend without seeing ...

[10 rows x 4 columns]

In [39]:
train['clean_tweet'] = train['clean_tweet'].apply(lambda x: x.lower())
train.head(10)

   tweet_id  ...                                        clean_tweet
0      1701  ...  #sxswnui #sxsw #apple defining language of tou...
1      1851  ...  learning ab google doodles! all doodles should...
2      2689  ...  one of the most in-your-face ex. of stealing t...
3      4525  ...  this iphone #sxsw app would b pretty awesome i...
4      3604  ...  line outside the apple store in austin waiting...
5       966  ...  #technews one lone dude awaits ipad 2 at apple...
6      1395  ...  sxsw tips, prince, npr videos, toy shopping wi...
7      8182  ...  nu user rt  new #ubersocial for #iphone now in...
8      8835  ...     free #sxsw sampler on itunes {link} #freemusic
9       883  ...  i think i might go all weekend without seeing ...

[10 rows x 4 columns]

In [42]:
stop_words = list(set(stopwords.words('english')))+list(punctuation)+['``', "'s", "...", "n't"]

# tokenize
train['tokenized_tweet'] = [nltk.word_tokenize(x) for x in train['clean_tweet']]

# stopword removal
train['tokenized_tweet'] = train['tokenized_tweet'].apply(lambda row: [word for word in row if word not in stop_words])

# stemming words
stemmer = PorterStemmer()
train['tokenized_tweet'] = train['tokenized_tweet'].apply(lambda x: [stemmer.stem(i) for i in x])
train['tokenized_tweet'] = train['tokenized_tweet'].apply(lambda x: ' '.join(x))
train.head()

LookupError: ignored